<div class="authBackground">
	<div style="position: absolute; right: 3px; top: 3px; color: white; font-size: 14px;">Web app courtesy of IronPegasus</div>
	<div class="authBox authBoxBlurred"></div>
	<div id="authorize-div" class="authBox">
		<div class="authText">
			<img src="IMG/logo.png">
		</div>
		<button class="authButton" ng-disabled="!ready" ng-click="loadAPI(event,1)" style="left: calc(50% - 50px); top: calc(50% + 35px);">
			<span ng-show="!ready"><img src="IMG/loading.gif"></span>
			<span ng-show="ready">Load Map</span>
		</button>
		<!--<button class="authButton" ng-click="loadAPI(event,2)" style="left: calc(50% - 105px); top: calc(50% + 75px);">
			<span ng-show="!ready"><img src="IMG/loading.gif"></span>
			<span ng-show="ready">Convoy</span>
		</button>-->
		<button class="authButton" ng-click="loadAPI(event,3)" style="left: calc(50% - 50px); top: calc(50% + 75px);"> <!--left: calc(50% + 5px);-->
			<span ng-show="!ready"><img src="IMG/loading.gif"></span>
			<span ng-show="ready">Shop</span>
		</button>
	</div>
	<div id="unavailable-div" class="authBox">
		<div class="displayUnavailable">
			Sorry, the map is currently down for maintenance. Please check back later!
		</div>
	</div>
	<div id="loading-div" class="authBox">
		<div class="displayLoading">
			<img ng-src="{{loadingIcon}}"><br>
			Fetching map data...<br>
			<progress id="progress" max="100"></progress>
		</div>
	</div>

	<!--Preloaded map image-->
	<img id="mapImg" ng-src="{{map}}" style="display: none;"/>

	<convoy ng-if="showConvoy"></convoy>
	<shop ng-if="showShop"></shop>

	<button class="audioButton" ng-click="toggleMusic()">
		<span ng-if="!musicPlaying()" style="font-size: 14px;">&#9654;</span>
		<span ng-if="musicPlaying()" style="font-size: 18px;">&#9208;</span>
	</button>
</div>