<div class="backgroundBox"></div>
<div id="dropArea" class="mapBox">
	<img id="map" class="absolutePos" src="IMG/map.png">

	<!--Draw tile names-->
	<div ng-repeat="(yIndex,row) in rows" class="glowBoxIndent absolutePos" ng-style="{top: determineGlowY(yIndex)}">
		<div class="glowBox"
			 ng-repeat="(indexX,column) in columns"
			 title="({{column}},{{row}}) {{terrainLocs[column+','+row].type}}: {{terrainTypes[terrainLocs[column+','+row].type].avo}}🚶  {{terrainTypes[terrainLocs[column+','+row].type].def}}⛨"
			 ng-style="{left: determineGlowX(indexX), 'background-color': determineGlowColor(column+','+row)}">
		</div>
	</div>
	
	<!--Draw characters-->
	<div ng-repeat="(cIndex,char) in charaData">
		<div id="{{cIndex}}" ng-if="validPosition(char.position)" ng-click="displayData(cIndex)" class="absolutePos charDiv hoverImage" title="{{char.position}}" ng-style="{top: determineCharY(char.position), left: determineCharX(char.position)}">
			<!--Unit sprite-->
			<img ng-src="{{char.spriteUrl}}" class="mapCharCentered">
			<div class="enemyNum">{{getEnemyNum(char.name)}}</div>
			<div class="healthBarBack"></div>
			<div class="healthBarFront" ng-style="{width:((char.currHp/char.maxHp)*13)+'px'}"></div>
			<div class="healthBarBorder"></div>
			<div ng-if="isPaired(char.position)" class="pairUpIcon"><img src="IMG/shield_pairup.png"></div>
		</div>
	</div>

    <!--Character Info Box-->
	<div id="{{cIndex}}_box" ng-repeat="(cIndex,char) in charaData" class="characterInfo yellowTan floatAbove" draggable="true" ng-show="checkCharToggle(cIndex)">
	<!--Drag bar-->
		<div class="absolutePos dragBar olive"></div>
		<!--Close button-->
		<div class="infoElement dragBarButton hoverImage" title="Close" style="left:calc(100% - 18px)" ng-click="removeData(cIndex)">
			<img src="IMG/close.png">
		</div>
		<!--Pair-Up button-->
		<div class="infoElement dragBarButton hoverImage" title="Switch to Paired Unit" style="left:calc(100% - 38px)" ng-if="isPaired(char.position)" ng-click="findPairUpChar(cIndex)">
			<img src="IMG/switchpairup.png">
		</div>
		<!--Name, Class, Lvl-->
		<div class="infoElement whiteText charNamePos" ng-style="{'background-color': determineNametagColor(cIndex)}" style="text-align: center;">
			<span style="position: relative; font-size: 18px; top: calc(50% - 15px);">{{char.name}}</span><br />
			<span style="position: relative; top: 2px; font-size: 10px;">Lvl. {{calculateCharLvl(char.exp)}} {{char.race}} {{char.class}}</span>
		</div>
		<!--Battle stats-->
		<div ng-repeat="stat in battleStatsList" class="infoElement darkTan tanText battleStatBox" ng-style="{top: stat[1]}">
			<span class="indentedStatLabel">{{stat[0]}}</span>
			<span class="indentedStat">3</span>
		</div>
		<!--Experience bar-->
		<div class="infoElement redText charExpPos">
			EXP: {{char.exp % 100}}
			<div class="expBarBack"></div>
			<div class="expBarFront" ng-style="{width: (((char.exp % 100)/100) * 95)+'px'}"></div>
			<div class="expBarBorder"></div>
		</div>
		<!--Weapon ranks-->
		<div ng-repeat="w in char.weaponRanks" class="infoElement weaponRankPos" ng-style="{left: fetchWpnRankHorzPos($index), top: fetchWpnRankVertPos($index)}">
			<span ng-if="existsWeapon(w.class)" title="{{w.class}} Rank" style="position:relative">
				<img ng-src="{{weaponIcon(w.class)}}" style="display:inline-block">
				<div class="weaponRankBackground"></div>
				<div class="weaponRankBar" ng-style="{width:calcWeaponExp(w.exp)+'px'}"></div>
				<!--<div class="weaponRankLtrPos redText">{{w.rank}}</div>-->
			</span>
		</div>
		<!--Stats-->
		<div class="infoElement darkTan tanText HPText">
			<span class="HpStatLabel">HP</span>
			<span class="currHPText">{{char.currHp}} /</span>
			<span class="maxHPText">{{char.maxHp}}</span>
		</div>
		<div ng-repeat="stat in statsList" class="infoElement darkTan tanText statBox" ng-style="{top: stat[2]}">
			<span class="indentedStatLabel">{{stat[0]}}</span>
			<span class="indentedStat">{{char[stat[0]]}}</span>
		</div>
		<!--Inventory-->
		<div ng-mouseenter="weaponHoverIn(cIndex, 0)" ng-mouseleave="weaponHoverOut(cIndex, 0)" class="infoElement redText hoverTan itemsPos lightTan" style="top: 5px;">
			<span class="indentedWeaponIcon" ng-if="validWeapon(char.equippedWeapon.name)"><img ng-src="{{getWeaponClassIcon(char.equippedWeapon.class)}}" onError="this.onerror=null;this.src='IMG/type_mystery.png';" /></span>
			<span class="indentedWeaponName" ng-if="validWeapon(char.equippedWeapon.name)">{{char.equippedWeapon.name}}</span>
		</div>
		<div ng-repeat="item in char.inventory" ng-mouseenter="weaponHoverIn(cIndex, $index)" ng-mouseleave="weaponHoverOut(cIndex, $index)" class="infoElement redText hoverTan itemsPos lightTan" ng-style="{top: fetchWeaponVerticalPos($index)}">
			<span class="indentedWeaponIcon" ng-if="validWeapon(item.name)"><img ng-src="{{getWeaponClassIcon(item.class)}}" onError="this.onerror=null;this.src='IMG/type_mystery.png';" /></span>
			<span class="indentedWeaponName" ng-if="validWeapon(item.name)">{{item.name}}</span>
		</div>
		<!--Accessories-->
		<div ng-repeat="item in char.accessories" ng-mouseenter="accessoryHoverIn(cIndex, $index)" ng-mouseleave="accessoryHoverOut(cIndex, $index)" class="infoElement redText hoverTan itemsPos lightTan" ng-style="{top: fetchWeaponVerticalPos($index + 5)}">
			<span class="indentedWeaponIcon" ng-if="validWeapon(item.name)"><img ng-src="{{getWeaponClassIcon(item.class)}}" onError="this.onerror=null;this.src='IMG/type_mystery.png';" /></span>
			<span class="indentedWeaponName" ng-if="validWeapon(item.name)">{{item.name}}</span>
		</div>
		<!--Skills-->
		<div class="infoElement redText hoverTan lightTan hoverTan skillPos" ng-mouseover="skillHoverIn(cIndex, 0)" ng-mouseleave="skillHoverOut(cIndex, 0)" style="top: 5px;">
			<span class="indentedSkillName">Racial Skill</span>
		</div>
		<div ng-repeat="skill in char.skills" class="infoElement redText hoverTan lightTan hoverTan skillPos" ng-mouseover="skillHoverIn(cIndex, $index)" ng-mouseleave="skillHoverOut(cIndex, $index)" ng-style="{top: fetchSklVerticalPos($index)}">
			<span class="indentedSkillName" ng-if="validSkill(skill.name)">{{skill.name}}</span>
		</div>
	</div>
</div>