<div class="backgroundBox"></div>
<div id="dropArea" class="authBackground">
	<img id="map" class="absolutePos" src="IMG/map.png">

	<!--Draw tile names-->
	<div ng-repeat="(yIndex,row) in rows" class="glowBoxIndent absolutePos" ng-style="{top: determineGlowY(yIndex)}">
		<div class="glowBox"
			 ng-repeat="(indexX,column) in columns"
			 title="({{column}},{{row}}) {{terrainLocs[column+','+row].type}}: {{terrainTypes[terrainLocs[column+','+row].type].avo}}🚶  {{terrainTypes[terrainLocs[column+','+row].type].def}}⛨"
			 ng-style="{left: determineGlowX(indexX), 'background-color': determineGlowColor(column+','+row)}">
		</div>
	</div>
	
	<!--Draw characters-->
	<div ng-repeat="(cIndex,char) in charaData">
		<div id="{{cIndex}}" ng-if="validPosition(char.position)" ng-click="displayData(cIndex)" class="absolutePos charDiv hoverImage" title="{{char.position}}" ng-style="{top: determineCharY(char.position), left: determineCharX(char.position)}">
			<!--Unit sprite-->
			<img ng-src="{{char.spriteUrl}}" class="mapCharCentered" />
			<img ng-src="{{getEnemyNum(char.name)}}" class="enemyNum" />
			<div class="healthBarBack"></div>
			<div class="healthBarFront" ng-style="{width:((char.currHp/char.maxHp)*13)+'px'}"></div>
			<div class="healthBarBorder"></div>
			<div ng-if="isPaired(char.position)" class="pairUpIcon"><img src="IMG/shield_pairup.png"></div>
		</div>
	</div>

    <!--Character Info Box-->
	<div id="{{cIndex}}_box" ng-repeat="(cIndex,char) in charaData" class="characterInfo yellowTan floatAbove" draggable="true" ng-show="checkCharToggle(cIndex)">
	<!--Drag bar-->
		<div class="absolutePos dragBar olive"></div>
		<!--Close button-->
		<div class="infoElement dragBarButton hoverImage" title="Close" style="left:calc(100% - 18px)" ng-click="removeData(cIndex)">
			<img src="IMG/close.png">
		</div>
		<!--Pair-Up button-->
		<div class="infoElement dragBarButton hoverImage" title="Switch to Paired Unit" style="left:calc(100% - 38px)" ng-if="isPaired(char.position)" ng-click="findPairUpChar(cIndex)">
			<img src="IMG/switchpairup.png">
		</div>
		<!--Name, Class, Lvl-->
		<div class="infoElement whiteText charNamePos" ng-style="{'background-color': determineNametagColor(char.affiliation)}" style="text-align: center;">
			<span style="position: relative; font-size: 18px; top: calc(50% - 15px);">{{char.name}}</span><br />
			<span style="position: relative; top: 2px; font-size: 10px;">Lvl. {{calculateCharLvl(char.exp)}} {{char.race}} {{char.class}}</span>
		</div>
		<!--Battle stats-->
		<div ng-repeat="stat in battleStatsList" class="infoElement darkTan tanText battleStatBox" ng-style="{top: stat[1]}">
			<span class="indentedStatLabel">{{stat[0]}}</span>
			<span class="indentedStat">3</span>
		</div>
		<!--Experience bar-->
		<div class="infoElement redText charExpPos">
			EXP: {{char.exp % 100}}
			<div class="expBarBack"></div>
			<div class="expBarFront" ng-style="{width: (((char.exp % 100)/100) * 95)+'px'}"></div>
			<div class="expBarBorder"></div>
		</div>
		<!--Weapon ranks-->
		<div ng-repeat="w in char.weaponRanks" class="infoElement weaponRankPos" ng-style="{left: fetchWpnRankHorzPos($index), top: fetchWpnRankVertPos($index)}">
			<span ng-if="existsWeapon(w.class)" title="{{w.class}} Rank" style="position:relative">
				<img ng-src="{{weaponIcon(w.class)}}" style="display:inline-block">
				<div class="weaponRankBackground"></div>
				<div class="weaponRankBar" ng-style="{width: calcWeaponExp(w.exp)+'px'}"></div>
				<div class="weaponRankLtrPos redText" style="font-size: 14px;">{{calcRankLetter(w.exp)}}</div>
			</span>
		</div>
		<!--Stats-->
		<div class="infoElement darkTan tanText HPText">
			<span class="HpStatLabel">HP</span>
			<span class="currHPText">{{char.currHp}} /</span>
			<span class="maxHPText">{{char.maxHp}}</span>
		</div>
		<div ng-repeat="stat in statsList" ng-mouseenter="statHoverIn(cIndex, $index)" ng-mouseleave="statHoverOut(cIndex, $index)" class="infoElement darkTan hoverTan statBox" ng-style="{top: stat[2]}">
			<span class="indentedStatLabel tanText">{{stat[0]}}</span>
			<span class="indentedStat" ng-style="{color: getStatColor(cIndex, stat[0])}">{{calculateStat(cIndex, stat[0])}}</span>
		</div>
		<!--Inventory-->
		<div ng-mouseenter="weaponHoverIn(cIndex, -1)" ng-mouseleave="weaponHoverOut(cIndex, -1)" class="infoElement redText hoverTan itemsPos lightTan" style="top: 5px;">
			<span class="indentedWeaponIcon" ng-if="validWeapon(char.equippedWeapon.name)"><img ng-src="{{getWeaponClassIcon(char.equippedWeapon.class, char.equippedWeapon.icoOverride)}}" onError="this.onerror=null;this.src='IMG/type_mystery.png';" /></span>
			<span class="indentedWeaponName" ng-if="validWeapon(char.equippedWeapon.name)">{{char.equippedWeapon.name}}</span>
		</div>
		<div ng-repeat="item in char.inventory" ng-mouseenter="weaponHoverIn(cIndex, $index)" ng-mouseleave="weaponHoverOut(cIndex, $index)" class="infoElement redText hoverTan itemsPos lightTan" ng-style="{top: fetchWeaponVerticalPos($index)}">
			<span class="indentedWeaponIcon" ng-if="validWeapon(item.name)"><img ng-src="{{getWeaponClassIcon(item.class, item.icoOverride)}}" onError="this.onerror=null;this.src='IMG/type_mystery.png';" /></span>
			<span class="indentedWeaponName" ng-if="validWeapon(item.name)">{{item.name}}</span>
		</div>
		<!--Accessories-->
		<div ng-repeat="item in char.accessories" ng-mouseenter="accessoryHoverIn(cIndex, $index)" ng-mouseleave="accessoryHoverOut(cIndex, $index)" class="infoElement redText hoverTan itemsPos lightTan" ng-style="{top: fetchWeaponVerticalPos($index + 5)}">
			<span class="indentedWeaponIcon" ng-if="validWeapon(item.name)"><img ng-src="{{getWeaponClassIcon(item.class, item.icoOverride)}}" onError="this.onerror=null;this.src='IMG/type_mystery.png';" /></span>
			<span class="indentedWeaponName" ng-if="validWeapon(item.name)">{{item.name}}</span>
		</div>
		<!--Skills-->
		<div class="infoElement redText hoverTan lightTan hoverTan skillPos" ng-mouseover="skillHoverIn(cIndex, -1)" ng-mouseleave="skillHoverOut(cIndex, -1)" style="top: 5px;">
			<span class="indentedSkillName">Racial Ability Info</span>
		</div>
		<div ng-repeat="skill in char.skills" class="infoElement redText hoverTan lightTan hoverTan skillPos" ng-mouseover="skillHoverIn(cIndex, $index)" ng-mouseleave="skillHoverOut(cIndex, $index)" ng-style="{top: fetchSklVerticalPos($index)}">
			<span class="indentedSkillName" ng-if="validSkill(skill.name)">{{skill.name}}</span>
		</div>
		<!--Additional Info-->
		<div class="infoElement darkTan tanText leafsPos">
			<span class="indentedStatLabel tanText" style="top: 5px !important;">Leafs</span>
			<span class="indentedStat" style="top: 3px !important;">{{char.gold}}</span>
		</div>
		<div class="infoElement darkTan tanText tagsPos hoverTan" ng-mouseover="tagsHoverIn(cIndex)" ng-mouseleave="tagsHoverOut(cIndex)">
			Tags
		</div>
		<div class="infoElement darkTan tanText statusPos hoverTan" ng-mouseover="statusHoverIn(cIndex)" ng-mouseleave="statusHoverOut(cIndex)">
			{{char.statusEffect.name}}
		</div>
		<div class="infoElement darkTan tanText behaviorPos hoverTan" ng-mouseover="behaviorHoverIn(cIndex)" ng-mouseleave="behaviorHoverOut(cIndex)">
			Behavior
		</div>
		<!--Inventory Desc-->
		<div class="infoElement green whiteText itemInfoPos" ng-if="weaponHoverOn(cIndex, -1) && validWeapon(char.equippedWeapon.name)" style="top: 5px;">
			<div class="popOutText itemNamePos boldText">{{formatWeaponName(char.equippedWeapon.name)}}</div>
			<div class="popOutText itemRankPos">
				<span ng-if="hasWeaponRank(char.equippedWeapon.rank)">{{char.equippedWeapon.rank}} -</span>
				{{char.equippedWeapon.class}}
			</div>
			<div class="customDivider" style="top:22px"></div>
			<div ng-if="notItem(char.equippedWeapon.class)">
				<div class="popOutText itemMightPos">Might: {{char.equippedWeapon.might}}</div>
					<div class="popOutText itemMightPos" style="right:0px">Hit: {{char.equippedWeapon.hit}}</div>
					<div class="popOutText itemWeightPos">Crit: {{char.equippedWeapon.crit}}</div>
					<div class="popOutText itemWeightPos" style="right:0px">Range: {{char.equippedWeapon.range}}</div>
					<div class="customDivider" style="top:58px"></div>
			</div>
			<div class="popOutText" ng-style="{top: setDescriptionLoc(char.equippedWeapon.class)}"><span class="italicText">{{char.equippedWeapon.effect}}<br/></span><span>{{char.equippedWeapon.desc}}</span>
			</div>
		</div>
		<div ng-repeat="weapon in char.inventory">
			<div class="infoElement green whiteText itemInfoPos" ng-if="weaponHoverOn(cIndex, $index) && validWeapon(weapon.name)" ng-style="{top: fetchWpnDescVerticalPos($index)}">
				<div class="popOutText itemNamePos boldText">{{formatWeaponName(weapon.name)}}</div>
				<div class="popOutText itemRankPos">
					<span ng-if="hasWeaponRank(weapon.rank)">{{weapon.rank}} -</span>
					{{weapon.class}}
				</div>
				<div class="customDivider" style="top:22px"></div>
				<div ng-if="notItem(weapon.class)">
					<div class="popOutText itemMightPos">Might: {{weapon.might}}</div>
					<div class="popOutText itemMightPos" style="right:0px">Hit: {{weapon.hit}}</div>
					<div class="popOutText itemWeightPos">Crit: {{weapon.crit}}</div>
					<div class="popOutText itemWeightPos" style="right:0px">Range: {{weapon.range}}</div>
					<div class="customDivider" style="top:58px"></div>
				</div>
				<div class="popOutText" ng-style="{top: setDescriptionLoc(weapon.class)}"><span class="italicText">{{weapon.effect}}<br/></span><span>{{weapon.desc}}</span>
				</div>
			</div>
		</div>
		<!--Accesories Info-->
		<div ng-repeat="item in char.accessories">
			<div class="infoElement green whiteText itemInfoPos" ng-if="accessoryHoverOn(cIndex, $index) && validWeapon(item.name)" ng-style="{top: fetchWpnDescVerticalPos($index + 5)}">
				<div class="popOutText itemNamePos boldText">{{item.name}}</div>
				<div class="popOutText itemRankPos">{{item.class}} ({{item.rank}} Slots)</div>
				<div class="customDivider" style="top:22px"></div>
				<div class="popOutText" style="top: 25px;"><span class="italicText">{{item.effect}}<br/></span><span>{{item.desc}}</span>
				</div>
			</div>
		</div>
		<!--Racial Ability Info Box-->
		<div ng-if="skillHoverOn(cIndex, -1)" class="infoElement green whiteText racialAbilityInfoPos" ng-style="{height: (char.race == 'Ayzer' ? '255px' : '235px')}" style="top: 5px;">
			<div ng-if="char.race == 'Beorc' || char.race == 'Branded'">
				<div ng-repeat="com in racialSkills.Beorc" style="margin-top: 5px;">
					<span style="font-size: 9px;">{{com.desc}}</span>
				</div>
			</div>
			<div ng-if="char.race == 'Laguz'">
				<div ng-repeat="com in racialSkills.Laguz" ng-if="com.name.length > 0" style="margin-top: 5px;">
					<span class="boldText" style="font-size: 9px;">{{com.name}}</span>
					<span style="font-size: 8px;">[HP Cost: {{com.hpcost}}] +{{com.might}} Might Bonus, +{{com.hit}} Hit Bonus<br />
						<span class="italicText">{{com.desc}}</span>
					</span>
				</div>
			</div>
			<div ng-if="char.race == 'Kano'">
				<div class="italicText" style="font-size: 10px; margin-top: 5px; margin-bottom: 20px;">Temperature: <span class="heatMeter"><span class="heatMeterLine" ng-style="{left: calcHeatUnitTemp(char.racialInfo.heatUnits)}"><span class="heatMeterNum" />{{char.racialInfo.heatUnits}}°</span></span></div>
				<div class="customDivider" style="top:30px"></div>
				<div ng-repeat="com in racialSkills.Kano" ng-if="com.heatUnits != 'Heat Units'" style="margin-top: 3px;">
					<span class="boldText" style="font-size: 9px;">{{com.heatUnits}} Units Req: </span><span style="font-size: 8px;">({{calcHpPercentCost(com.hpPenalty, char.maxHp)}} HP Cost) <span class="italicText">{{com.statGains}}</span></span>
				</div>
			</div>
			<div ng-if="char.race == 'Jera'">
				<div class="italicText" style="font-size: 10px; margin-top: 5px; margin-bottom: 10px;">Enchantment Cost: {{calcEnchantmentCost(char.maxHp)}} HP</div>
				<div class="customDivider" style="top:18px"></div>
				<div ng-repeat="com in char.racialInfo" ng-if="com.name.length > 0">
					<span class="boldText" style="font-size: 9px;">{{com.name}}: </span><span class="italicText" style="font-size: 8px;">{{com.desc}}</span>
				</div>
			</div>
			<div ng-if="char.race == 'Florkana'">
				<div ng-repeat="com in racialSkills.Angel" ng-if="com.supportRace != 'Terrain'" style="margin-top: 3px;">
					<span class="boldText" style="font-size: 9px;">{{com.terrain}}: </span><span class="italicText" style="font-size: 8px;">{{com.effect}}</span>
				</div>
			</div>
			<div ng-if="char.race == 'Ayzer'">
				<div class="italicText" style="font-size: 10px; margin-top: 5px; margin-bottom: 10px;">Water Meter: <img ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" ng-src="{{$index < char.racialInfo.waterMeter ? 'IMG/waterdrop.png' : 'IMG/waterdrop_empty.png'}}" style="display: inline-block;" /></div>
				<div class="customDivider" style="top:18px"></div>
				<div ng-repeat="com in racialSkills.Ayzer | waterCostSort" ng-if="com.name.length > 0 && com.name != 'Name'" style="margin-top: 3px;">
					<span class="boldText" style="font-size: 9px;">{{com.name}}: </span><span class="italicText" style="font-size: 8px;">({{com.waterCost}} Water) {{com.desc}}</span>
				</div>
			</div>
			<div ng-if="char.race == 'Angel'">
				<div ng-repeat="com in racialSkills.Angel" ng-if="com.supportRace != 'Supporting Race'" style="margin-top: 3px;">
					<span class="boldText" style="font-size: 9px;">{{com.supportRace}}: </span><span class="italicText" style="font-size: 8px;">{{com.desc}}</span>
				</div>
			</div>
		</div>
		<!--Skill Info Boxes-->
		<div ng-repeat="skill in char.skills">
			<div ng-if="skillHoverOn(cIndex, $index) && validSkill(skill.name)" class="infoElement green whiteText skillInfoPos" ng-style="{top: fetchWpnDescVerticalPos($index)}">
				<div class="boldText popOutText popOutHeader">{{skill.name}}</div>
				<div class="customDivider" style="top:20px"></div>
				<div class="popOutText popOutBody">{{skill.finalEff}}</div>
			</div>
		</div>
		<!--Stat info boxes-->
		<div ng-repeat="stat in statsList">
			<div ng-if="statHoverOn(cIndex, $index)" class="infoElement green whiteText statInfoPos" ng-style="{top: stat[2]}">
				<span class="popOutText popOutHeader">
					<span>Base: {{char[stat[0]]}}<br /></span>
					<span ng-if="checkWpnStatLength(cIndex, stat[0])">{{char.equippedWeapon.name}}: {{getWpnStatValue(cIndex, stat[0])}}<br /></span>
					<span ng-if="checkStatLength(char[stat[0]+'Buff'])">Buff/Debuff: {{char[stat[0]+'Buff']}}<br /></span>
					<span ng-if="checkStatLength(char[stat[0]+'Boost'])">Boost: {{char[stat[0]+'Boost']}}<br /></span>
				</span>
			</div>
		</div>
		<!--Tags Info-->
		<div ng-if="tagsHoverOn(cIndex)" class="infoElement green whiteText tagInfoPos">
			<span class="popOutText popOutHeader">
				<span ng-repeat="tag in char.tags">{{tag}}<br /></span>
			</span>
		</div>
		<!--Status Info-->
		<div ng-if="statusHoverOn(cIndex)" class="infoElement green whiteText statusInfoPos">
			<div class="boldText popOutText popOutHeader">{{char.statusEffect.name}}</div>
			<div ng-if="char.statusEffect.turns.length > 0" class="italicText popOutText popOutHeader" style="right: 0px;">
				{{char.statusEffect.turns}} Turns
			</div>
			<div class="customDivider" style="top:21px"></div>
			<span class="popOutText popOutBody">{{char.statusEffect.effect}}</span>
		</div>
		<!--Behavior Info-->
		<div ng-if="behaviorHoverOn(cIndex)" class="infoElement green whiteText behaviorInfoPos">
			<span class="popOutText popOutHeader">{{char.behavior}}</span>
		</div>
	</div>
</div>