<div class="backgroundBox"></div>
<div id="dropArea" class="mapBox">
	<img id="map" class="absolutePos" src="IMG/map.png">

	<!--Draw tile names-->
	<div ng-repeat="(yIndex,row) in rows" class="glowBoxIndent absolutePos" ng-style="{top: determineGlowY(yIndex)}">
		<div class="glowBox"
			 ng-repeat="(indexX,column) in columns"
			 title="({{column}},{{row}}) {{terrainLocs[column+','+row].type}}: {{terrainTypes[terrainLocs[column+','+row].type].avo}}🚶  {{terrainTypes[terrainLocs[column+','+row].type].def}}⛨"
			 ng-style="{left: determineGlowX(indexX), 'background-color': determineGlowColor(column+','+row)}">
		</div>
	</div>
	
	<!--Draw characters-->
	<div ng-repeat="(cIndex,char) in charaData">
		<div id="{{cIndex}}" ng-if="validPosition(char.position)" ng-click="displayData(cIndex)" class="absolutePos charDiv hoverImage" title="{{char.position}}" ng-style="{top: determineCharY(char.position), left: determineCharX(char.position)}">
			<!--Paired unit sprite-->
			<div ng-if="isPaired(char.position)" class="charDiv mapCharOffsetLeft">
				<img ng-src="{{getPairUnitIcon(char.position)}}" class="mapCharCentered dimImage">
			</div>
			<!--Unit sprite-->
			<div class="charDiv" ng-class="isPaired(char.position) ? 'mapCharOffsetRight' : 'mapCharOffsetNone'">
				<img ng-src="{{char.spriteUrl}}" class="mapCharCentered">
				<div class="enemyNum">{{getEnemyNum(char.name)}}</div>
			</div>
			<div class="healthBarBack"></div>
			<div class="healthBarFront" ng-style="{width:((char.currHp/char.maxHp)*27)+'px'}"></div>
			<div class="healthBarBorder"></div>
			<div ng-if="isPaired(char.position)" class="pairUpIcon"><img src="IMG/shield_pairup.png"></div>
		</div>
	</div>

    <!--Character Info Box-->
	<div id="{{cIndex}}_box" ng-repeat="(cIndex,char) in charaData" class="characterInfo yellowTan floatAbove" draggable="true" ng-show="checkCharToggle(cIndex)">
	<!--Drag bar-->
		<div class="absolutePos dragBar olive"></div>
		<!--Close button-->
		<div class="infoElement dragBarButton hoverImage" title="Close" style="left:calc(100% - 18px)" ng-click="removeData(cIndex)">
			<img src="IMG/close.png">
		</div>
		<!--Pair-Up button-->
		<div class="infoElement dragBarButton hoverImage" title="Switch to Paired Unit" style="left:calc(100% - 38px)" ng-if="isPaired(char.position)" ng-click="findPairUpChar(cIndex)">
			<img src="IMG/switchpairup.png">
		</div>
		<!--Name, Class, Lvl-->
		<div class="infoElement whiteText charNamePos" ng-style="{'background-color': determineNametagColor(cIndex)}" style="text-align: center;">
			<span style="position: relative; font-size: 18px; top: calc(50% - 20px);">{{char.name}}</span><br />
			<span style="position: relative; font-size: 10px;">Lvl. {{calculateCharLvl(char.exp)}} {{char.class}}</span>
		</div>
	</div>
</div>